.modalCard{
    background-color: rgb(255, 243, 243);
    padding: 9px;
    padding-left: 25px;
    margin: 10px;
    border-radius: 35px;
    transition: 0.3s ease;
}

.modalCard:hover{
    background-color: rgb(221, 221, 221);
}

.cardHeader{
    font-size: 1.3rem;
    color: rgb(104, 104, 104);
    font-weight: 300;
    margin: 0 !important;
}