.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--footer-text-color);
  font-weight: bold;
  height: 100px;
  background-color: var(--footer-color);
}

.footerText {
  font-size: 0.9rem;
  margin: 0;
}

.footer a {
  color: var(--footer-text-color);
}