
  .addItem:hover {
    transition: 0.5s;
    text-shadow: none;
  }
  .bookmarkRibbon {
    width: 105px;
    height: 0;
    border-left: 15px solid transparent;
    float: right;
    margin-bottom: 20px;
    font-size: 17px;
    font-weight: 700;
    position: fixed;
    top: 150px;
    z-index: 1000;
    border-top: 20px solid var(--primary-color);
    border-bottom: 20px solid var(--secondary-color);
    right: -40px;
    transition: right 0.5s, filter 0.5s; /* Add transition here */
}

.bookmarkRibbon:hover {
    right: -15px;
    filter: brightness(80%);
    cursor: pointer;
}