.occurrenceCard {
  width: 100%;
  margin: 5px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  color: var(--card-text-color);
  background-color: var(--card-color);
  transition: 0.5s ease;
}

.occurrenceCard:hover {
  filter: brightness(90%);
  transition: 0.5s ease;
}

.occurrenceCard.cardSelected {
  background-color: var(--selected-card-color);
}

.occurrenceCard.cardDisabled {
  background-color: var(--disabled-card-color);
  color: grey;
}

.occurrenceCard.cardDisabled:hover {
  filter: none;
  transition: none;
}

.occurrenceCard hr {
  border: 1px solid var(--card-border-color);
  margin: 1px !important;
}

.occurrenceCard p {
  font-size: 0.7rem;
  padding: 0;
  margin: 0;
}

.occurrenceCard.cardSelected hr {
  border: 1px solid var(--selected-card-border-color);
}

.occurrenceCard.cardSelected p {
  color: white;
}

.InnerCardWrapper {
  padding: 10px 0px;
}

.occurrenceNumber {
  font-weight: 600;
}

.tutor p {
  font-size: 0.6rem;
}

.activityTitle {
  font-size: 0.8rem;
  font-weight: 600;
}
