.modalCard {
    background-color: var(--modal-card-bg);
    padding: 9px;
    padding-left: 25px;
    margin: 10px;
    border-radius: 10px;
    transition: 0.3s ease;
    cursor: pointer;
}

.modalCard:hover {
    background-color: var(--modal-card-hover-bg);
}

.cardHeader {
    font-size: 1.2rem;
    color: var(--modal-card-text-color);
    font-weight: 400;
    margin: 0 !important;
}