.modalList {
  padding: 0;
  height: 50vh;
}

.listItems{
  overflow-y: auto;
}

.noResults {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50vh;
}

.noResultsIcon {
  color: #777;
  font-size: 3rem !important;
}

.noResultsHeader {
  font-size: 1.5rem;
  margin-top: 30px;
  color: #777;
  text-align: center;
}
