.searchbar {
  margin-top: 20px;
  border-radius: 20px !important;
  background-color: var(--searchbar-bg-color) !important;
  color: var(--text-primary-color) !important;
  border-color: var(--course-header-border-color) !important;
}

.searchbar::placeholder {
  color: var(--text-muted-color) !important;
}

.searchBlock {
  position: relative;
}

.searchButton {
  background-color: transparent !important;
  color: var(--search-button-color) !important;
  border: none !important;
  position: absolute;
  padding: 1px;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}