# Environments
venv/
.venv/

# Python cache & compiled bytecode
__pycache__/
*.py[cod]
*$py.class

# Environment files
.env
.env.*
*.env
!.env.example

# files created for/by scraping
*.xls
*.xlsx
*.json
*.txt
