.navbar{
    background-color: white !important;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}
.togglerNoBorder {
  border: none !important;
}
.logo {
  display: flex;
  justify-content: center;
}
.logoFirst,
.logoSecond {
  margin: 0;
  font-weight: 600;
}
.logoFirst {
  color: var(--navbar-primary-color);
}

@media (max-width: 768px) {
  .hidden {
    display: none;
  }
}
