.roundedButton {
  padding: 10px 30px !important;
  border: none !important;
  border-radius: 35px !important;
  margin: 10px 0;
  height: fit-content;
  transition: filter 0.5s ease !important;
}

.roundedButton:hover {
  filter: brightness(80%);
}