.navbar {
  background-color: var(--navbar-bg-color) !important;
  box-shadow: var(--navbar-shadow);
}

.togglerNoBorder {
  border: none !important;
}

.logo {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.logoFirst,
.logoSecond {
  margin: 0;
  font-weight: bold;
  font-size: 1.5rem;
}

.logoFirst {
  color: var(--navbar-primary-color);
}

.logoSecond {
  color: var(--navbar-logo-secondary-color);
}

.navbarRight {
  margin-left: auto;
  display: flex;
  align-items: center;
  padding-right: 10px;
}

@media (max-width: 768px) {
  .hidden {
    display: none;
  }
}