.moduleCard{
    background-color: rgb(255, 243, 243);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.moduleCard:hover{
    background-color: rgb(229, 229, 229);
}

.cardHeader{
    margin: 0;
}